* {
    padding: 0;
    margin: 0;
}

.grid-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.grid-boxes {
    background-color: black;
    flex-grow: 1;
}

.grid-boxes:hover {
    background-color: grey;
}